body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
.header {
  width: 100%;
}
.header-content {
  width: 70%;
  margin: 1px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  height: 125px;
  width: auto;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 45px;
  font-size: 17px;
}

nav ul li a {
  text-decoration: none;
  color: #262a2b;
}
hr {
  margin: 0rem 0;
  color: inherit;
  border: 0;
  border-top: var(--bs-border-width) solid;
  opacity: 0.25;
}

.main {
  display: flex;
  gap: 50px;
  margin: 10px auto;
  width: 80%;
}

.main-banner {
  width: 65%;
}
.main-img {
  border-radius: 8px;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.studio-name {
  color: #bfbfbf;
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.personalised {
  color: #000000;
  font-family: "Bebas Neue", Sans-serif;
  font-size: 4rem;
  font-weight: 400;
}

.main-card {
  width: 35%;
  padding: 30px 0px;
}
.consultation {
  color: #888888;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.8em;
}
.book {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #000000;
  border-radius: 35px;
  padding: 15px 45px 15px 45px;
}

.offer {
  text-align: center;
  padding: 10px;
}

.offer-rate {
  color: #000000;
  font-size: 4rem;
  font-weight: 600;
  padding-bottom: 10px;
}

.offerhead {
  color: #006cc7;
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
}


/* Dropdown button styling */
.navbar-toggle {
  display: none;
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  right: 50px;
  font-size: 18px;
}



/* Responsive styles */
@media (max-width: 900px) {
  

  nav ul {
    display: none; /* Hide the original list */
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 114px;
    left: 0px;
    width: 100%;
    z-index: 1;
  }

  nav ul li {
    margin: 0;
    font-size: 1.5rem;
  }
  nav ul li a {
    display: block; /* Makes the link a block element */
    width: 100%; /* Full width of the parent container */
    text-decoration: none; /* Removes underline */
    padding: 10px; /* Adds padding for better appearance */
    color: rgb(34, 32, 32); /* Sets text color */
  }
  .navbar-toggle {
    display: block; /* Show the dropdown button */
  }
  /* Style the link when focused */
  nav ul li a:hover{
    background-color: #e8c204;; /* Background color when focused */
    outline: none; /* Removes default focus outline */
  }

  .artist-heading h1 {
    font-size: 2.5rem!important;
  }
 
  .location h2 {
    
    font-size: 2.5rem!important;
  

  }
/* responsive for display next line*/
.main {
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
  align-items: center;
  justify-content: center;

}

.main-banner {
  width: 100%;
}
.main-img {
  border-radius: 8px;
  height: 100%;
  width: 100%;
}

.main-card {
  width: 100%;
  text-align: center;
}



}

.portfolio{
width: 100%;
}

.portfolio h1{
  text-align: center;
    font-size: 4rem;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 2px;
    padding-top: 30px;
}

.myart{
  display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   gap: 13px;

}


.myart-img{
  height: 370px;
  width: 370px;
  transition: filter 0.3s; 
  transition: transform 0.5s ease-in-out;
  cursor: pointer;

}

.myart-img:hover{
  filter: brightness(60%);
  transform: scale(1.03);
}




.artist-heading h1{
font-size: 4.5rem;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 0px;
    padding-top: 60px;
    text-align: center;
}

.carousel {
  position: relative;
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.carousel-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.artist {
  display: flex;
  flex-wrap: nowrap;
  /* justify-content: center; */
  width: 100%;
}

.artist div {
  flex: 0 0 33.33%; /* Make each item take up one-third of the carousel */
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}

.artist-img {
  width: 100%;
  height: auto;
}
.name{
  color: grey;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 100;
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}


/* location */

.address{
  text-align: center;
    width: 50%;
    margin: auto;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.09);
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
}
.logo-add{
  margin: 30px;
}

.address p{
  padding-bottom: 20px;
}

.location h2{
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 10px;
  text-transform: uppercase;
}
.address a{
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
  font-weight: 550;
  text-transform: uppercase;
}

.address:hover{
  transform: scale(1.03);
}
.consult-btn{
  text-align: center;
  padding: 50px;
}


.container{
  text-align: center;
    width: 90%;
    font-family: sans-serif;
    margin: 60px auto;
}

.card-link{
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: larger;
}

.card{
  background-color: #fcfcfc;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #e2e2e2;
}

.card-header{
  padding: 20px;
}


.container h2{
  font-family: sans-serif;
    font-weight: bold;
    font-size: 3rem;
}

.container p {
  text-transform: uppercase;
  color: grey;
  font-size: medium;
}


.about{
  width: 90%;
  margin: 10px auto;
  font-size: 25px;
  color: gray;
  text-align: left;
  font-weight: 500;
}

.about p{
  margin-bottom: 50px;
}

/* footer */

.footer{
  background: #1d1818e8;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding: 10px;
  color: white;
  width: 100%;
}
.footer a{
  text-decoration: none;
  color: white;
}

@media (max-width: 450px){
  .personalised{
    font-size: 3rem !important;
  }
}